.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.center {
  margin: 10px auto;
}

.home {
  max-width: 1200px;
}

#pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
}
