.home-price {
  font-size: larger !important;
  color: black !important;
}

.home-name {
  color: grey !important;
  font-size: smaller !important;
}

.product-card {
  text-decoration: none !important;
  transition: .2s !important;
}

.product-card:hover {
  transform: scale(1.05) !important;
  cursor: pointer;
}

.product-card:hover .home-name {
  font-weight: bold !important;
}

.product-card:hover .home-price {
  font-weight: bold !important;
}
