.product-name {
  font-size: smaller !important;
  color: black;
}

.product-card {
  text-decoration: none !important;
  transition: .2s !important;
}

.product-card:hover {
  transform: scale(1.05) !important;
  cursor: pointer;
}

.product-card:hover .product-name {
  font-weight: bold !important;
}

.price {
  color: grey;
  font-size: smaller !important;
}
