.ProductName {
  text-decoration: none;
  font-size: smaller !important;
  color: black;
}

.ProductName:hover {
  font-weight: bold;
  cursor: pointer;
}

.Price {
  color: grey;
  font-size: smaller !important;
}
