#app-name {
  flex-grow: 1;
  color: white;
  text-decoration: none;
  font-family: Georgia;
  font-variant: small-caps;
  font-size: x-large;
}

div.menu .menu-item {
  font-size: smaller ;
  color: white;
}

div.menu .menu-icon {
  color: white;
  font-size: x-large;
}

@media screen and (max-width: 500px) {
  #app-name {
    font-size: medium;
  }

  div.menu .menu-item {
    font-size:x-small;
  }

  div.menu .menu-icon {
    font-size: large;
  }
}
