.app-name {
  flex-grow: 1;
  color: white;
  text-decoration: none;
  font-family: Georgia !important;
  font-variant: small-caps;
}

.menu-item {
  font-size: smaller !important;
  color: white !important;
}

@media screen and (max-width: 425px) {
  .app-name {
    font-size: small !important;
  }

  .menu-item {
    font-size:x-small !important;
  }
}
