.PrimaryButton {
  border-radius: 30px !important;
  background-color: #C44B4F !important;
  color: white !important;
  margin: 15px !important;
  width: 150px;
}

.PrimaryButton:hover {
  background-color: #4D0011 !important;
}
