.primary-button {
  border-radius: 30px !important;
  margin: 15px !important;
  width: 150px !important;
}

.delete-button {
  border-radius: 30px !important;
  margin-bottom: 10px !important;
  width: 150px;
}

.update-button {
  border-radius: 20px !important;
  padding: 5px !important;
  width: 150px !important;
  font-size: 10px !important;
}

.buy-button {
  border-radius: 30px !important;
  color: white !important;
  border-color: white !important;
  margin: 15px !important;
  width: 150px;
}
