div .primary-button {
  margin: 15px;
}

div .button {
  width: 220px;
  border-radius: 30px;
  padding: 10px;
}

div .delete-button {
  margin-bottom: 10px;
}

div .buy-button {
  color: white;
  border-color: white;
  transition: 0.2s;
}

div .buy-button:hover {
  border-color: white;
  transform: scale(1.1);
}
